{
  "presets": ["next/babel"],
    "plugins": [
      ["macros"],
      [
        "module-resolver",
        {
          "root": ["."],
          "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
          "alias": {
            "@@": "./src",
            "@@components": "./src/components",
            "@@pages": "./src/pages",
            "@@utils": "./src/utils",
            "@@lib": "./src/lib"
          }
        }
      ]
    ]
}
